<div class="card employee-card">
    <div class="card-header">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><span class="material-icons">next_week</span>{{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><span class="material-icons">lock</span>ID: {{ id }}</li>
            <li class="list-group-item text-dark"><span class="material-icons">email</span>Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item text-dark"><span class="material-icons">school</span>Universtiy: {{ school }}</a></li>
        </ul>
    </div>
</div>