* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: black;
    color: white;
    font-size: 4rem;
}

#team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem 0;
    gap: 2rem;
}

.card {
    font-weight: bold;
}